{% extends 'layout.html.twig' %}

{% block title %} - Se connecter{% endblock %}

{% block content %}

    <form method="post">

        {% include 'include/_breadcrumb.html.twig' with {'title': 'Se connecter'} only %}

        <section class="section-padding-80">
            <div class="container">

                {% if error %}
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2 required" for="inputUsername">Identifiant</label>
                            <div class="col-sm-10"><input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" required autofocus></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2" for="inputPassword">Mot de passe</label>
                            <div class="col-sm-10"><div class="custom-file"><input type="password" name="_password" id="inputPassword" class="form-control" required></div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="col-12 my-3">
                            <div class="text-right">
                                <button class="btn-mycook">Se connecter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

{% endblock %}
