{% extends 'base.html.twig' %}

{% block title %} - Changer son mot de passe{% endblock %}

{% block body %}

    <h1 class="my-4"><i class="fas fa-user"></i>&nbsp;Changer son mot de passe</h1>

    {% include 'include/_flashbag.html.twig' %}

    {{ form(form) }}

{% endblock %}
