<div class="follow-us-photos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5></h5>
            </div>
        </div>
    </div>
    <!-- Instagram Feeds -->
    <div class="photo-feeds d-flex flex-wrap">
        <div class="single-photo-feeds">
            <img src="img/bg-img/insta1.jpg" alt="">
            <div class="icon">
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-photo-feeds">
            <img src="img/bg-img/insta2.jpg" alt="">
            <div class="icon">
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-photo-feeds">
            <img src="img/bg-img/insta3.jpg" alt="">
            <div class="icon">
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-photo-feeds">
            <img src="img/bg-img/insta4.jpg" alt="">
            <div class="icon">
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-photo-feeds">
            <img src="img/bg-img/insta5.jpg" alt="">
            <div class="icon">
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-photo-feeds">
            <img src="img/bg-img/insta6.jpg" alt="">
            <div class="icon">
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-photo-feeds">
            <img src="img/bg-img/insta7.jpg" alt="">
            <div class="icon">
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>