<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
            <div class="footer-social-info text-right">
                <a href="https://github.com/sabinus52/mycook"><i class="fab fa-github" aria-hidden="true"></i></a>
            </div>
            <div class="footer-logo"></div>
            <p>Copyright &copy;{{ 'now'|date('Y') }} All rights reserved</p>
        </div>
    </div>
</div>
