<div class="top-header-area">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-between">
            <div class="col-12 col-sm-6">
                <div class="breaking-news">
                    <div class="ticker">
                        Bienvenue sur mon livre de recettes de cuisine !
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="top-social-info text-right">
                    <a href="https://github.com/sabinus52/mycook"><i class="fab fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>