<div class="search-wrapper">
    <div class="close-btn"><i class="fas fa-times" aria-hidden="true"></i></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" method="post">
                    <input type="search" name="search" placeholder="Rechercher un recette">
                    <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>