{% extends 'layout.html.twig' %}

{% block title %} - Recettes par catégorie {{ category }}{% endblock %}

{% block content %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="float-right">
            <div class="btn-toolbar mb-3" role="toolbar">
                <div class="btn-group mr-2" role="group">
                    <a href="{{ path('category_update', {'id': category.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i>&nbsp;Modifier la catégorie</a>
                </div>
                <div class="input-group mr-2" role="group">
                    <form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Suppression de cette catégorie ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'include/_breadcrumb.html.twig' with {'title': 'Catégorie : ' ~ category, 'image': asset(uri_category~'/'~category.id~'.jpg')} only %}

    <section class="list-recipe-area mt-5">
        <div class="container">
            <div class="row">
                {% for item in recipes %}
                    {% include 'recipe/_list-one.html.twig' with {'item': item} only %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
