
<div class="row">
    {% for item in recipes %}
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-recipe-area mb-30">
                <div class="img-hover-zoom">
                    <img src="{{ asset(uri_recipe~'/'~item.id~'.jpg') | imagine_filter('thumb') }}" alt="">
                    <div class="icon">
                        <a href="{{ path('recipe_show', { id: item.id }) }}"><h1><i class="fas fa-search fa-lg" aria-hidden="true"></i></h1></a>
                    </div>
                </div>
                <div class="recipe-title">
                    <a href="{{ path('recipe_show', { id: item.id }) }}">
                        <h5>{{ item.name }}</h5>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
