{% extends 'layout.html.twig' %}

{% block title %} - Recettes{% endblock %}

{% block content %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="float-right">
            <a href="{{ path('recipe_create') }}" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Ajouter une recette</a>
        </div>
    {% endif %}

    {% include 'include/_breadcrumb.html.twig' with {'title': 'Les Recettes'} only %}

    <section class="list-recipe-area mt-5">
        <div class="container">
            <div class="row">
                {% for item in recipes %}
                    {% include 'recipe/_list-one.html.twig' with {'item': item} only %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
