{% extends 'layout.html.twig' %}

{% block title %} - Recettes{% endblock %}

{% set header_commands %}
    <a href="{{ path('recipe_create') }}" class="btn btn-secondary">Ajouter une recette</a>
{% endset %}

{% block content %}

    {% include 'include/_breadcrumb.html.twig' with {'title': 'Les Recettes'} only %}

    <section class="list-recipe-area mt-5">
        <div class="container">
            <div class="row">
                {% for item in recipes %}
                    {% include 'recipe/_list-one.html.twig' with {'item': item} only %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
