<footer class="my-5">
    <div class="clearfix"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; {{ 'now'|date('Y') }} Sabinus52</p>
            </div>
            <div class="col-md-6">
                <p class="text-right"><a href="https://github.com/sabinus52/mycook" target="_blank"><i class="fab fa-github"></i>&nbsp;Fork me on Github</a></p>
            </div>
        </div>
    </div>
</footer>