{% extends 'base.html.twig' %}

{% block title %}Edit Unity{% endblock %}

{% block body %}
    <h1>Edit Unity</h1>

    {{ include('unity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('unity_index') }}">back to list</a>

    {{ include('unity/_delete_form.html.twig') }}
{% endblock %}
